html,body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;

}
body
{
    background: #f2f2f2;
}
header
{
    border-bottom:3px solid #000;
    height: 110px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.connexion{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 110px;
}
.connexion > div
{
    align-items: center;
}
.connexion > div,
.connexion > div > ul
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
.connexion > div > ul > li
{
    display: flex;
    list-style-type: none;
    width: 100%;
    margin:5px 0;
}
.connexion >div >ul > li > p
{
    text-transform: uppercase;
    font-weight:700;
    font-size: 18px;
    margin: 5px 0;
}
header + .container
{
    flex-direction: column;
    margin: 0 auto;
}
header nav,
header nav ul
{
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
header nav ul
{
    padding: 5px 10px;
    height: 100px;
    width: 60%;
    align-items: center;
}
header nav ul li{

    display: inline-flex;
    width: calc(100% / 3);
    height: 100%;
    justify-content: center;
    align-items: center;
}
header nav ul li a
{
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #407ec9;
}
h1
{
    color: #5bbaff;
    margin: 30px 0;
    display: flex;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    justify-content: flex-start;
    padding-left: 30px;
}
.container
{
    display: flex;
    width: 1024px;
    height:100%;
    justify-content: center;
    align-self: center;
}
.movies-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.movie-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.movie-content,
.home-movie
{
    display: flex;
    width: 350px;
    min-height: 500px;
    margin: 20px 0;
    flex-direction: column;
}
.movie
{
    display: flex;
    width: 100%;
    height:100%;
}
.remove
{
    margin: 20px 0;
    display: flex;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: #000;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    border:1px solid black;
}
.remove > i
{
    align-self: center;
    padding-left: 30px;
    font-size: 25px;
    margin-right:10px;
}
.remove:hover
{
    background: #fff;
    color: #000;
    transition: all 0.3s ease;
    border:1px solid black;
}
.remove:hover > i
{
color: #000;
}
.entete
{
    display: flex;
    padding: 20px 0;
    border-bottom: 2px solid blue;
}
.entete > picture
{

    width: 100px;
    height:100px;
    display: flex;
}
.entete + .container
{
    flex-direction:column;
}
.add-watchlist
{
    justify-content: center;
    align-self: center;
    width: 240px;
    height: 40px;
    line-height: 40px;
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    margin: 30px 0;
    border:1px solid transparent;
    transition: all 0.3s ease;
}
.add-watchlist:hover
{
    background: #fff;
    color: #000;
    border:1px solid #000;
    transition: all 0.3s ease;
}
.fa-trash-o
{
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    display: flex;
}